/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/*General*/
body {
    width: 876px;
    margin: 0 auto;
}

p {
    font-family: roboto;
}

a {
    font-family: roboto;
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: rosybrown;
}

h1 {
    font-size: 4.2em;
}

h2 {
    font-size: 2em;
}

ul {
    margin-left: 20px;

    list-style-type: square;
}

ul li {
    padding: 8px;
}

.column {
    margin-right: 20px;
}

/*Nav*/
header {
    position: sticky;
    top: 0;
    /*Flex Container*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header nav {
    /*Flex Container*/
    display: flex;
    justify-content: space-between;
    /*Flex Element*/
    flex-grow: 0.8;
}

header img {
    /*Flex Element*/
    flex-grow: 1;
}

/*Row 1*/
.row-1 {
    padding: 40px 0;
    /*Flex Container*/
    display: flex;
}

.row-1 .column:first-child {
    /*Flex Container*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-1 .column:first-child h1 {
    text-align: center;
}

.cta-box a {
    /*Button style*/
    border: 1px black solid;
    padding: 10px;
}

/*Row 2*/
.row-2 {
    padding: 40px 0;
    border-top: 2px black solid;
    /*Flex Container*/
    display: flex;
}

.row-4 {
    padding: 40px 0;
    /*Flex Container*/
    display: flex;
}

.row-5 {
    width: 200px;
}

footer {
    text-align: center;
    margin: 20px 0;
}

/*Page Services*/

.entry {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}

.services-header-img {
    width: 100%;
    margin-bottom: 20px;
}

/*Services section*/

.services {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    /*Flex Container*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services div {
    border: 1px solid #000;
    padding: 10px;
    margin: 20px 0;
    width: 48%;
    background-color: rgba(0, 0, 0, 0.05);
    height: 240px;
    /*Flex Container*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cta-box {
    border: 1px solid #000;
    border-radius: 7px;
}

a.cta-box {
    padding: 10px 30px;
    font-size: 0.6em;
    background-color: #fff;
    color: black;
}

/*Facts */

.facts {
    padding-bottom: 30px;
    margin-bottom: 20px;
    /*Flex Container*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.facts div {
    padding: 10px;
    margin: 20px 0;
    width: 48%;
}
